asgiref==3.5.2
certifi==2019.3.9
chardet==3.0.4
contourpy==1.0.6
Django==4.1.1
fonttools==4.38.0
idna==2.8
Markdown==3.4.1
markdown2==2.4.5
oauthlib==3.0.1
packaging==21.3
psycopg2-binary==2.9.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
sqlparse==0.4.3
threadpoolctl==3.1.0
tzdata==2022.4
stripe==2.27.0
urllib3==1.24.2
