{% extends "auctions/layout.html" %}

{% block body %}

    <nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
        <div class = "container">
            <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "index.html">
                <img src = "/static/auctions/images/shopping-bag-icon.png" alt = "site icon">
                <span class = "text-uppercase fw-lighter ms-2">Auctions</span>
            </a>
            <div class = "order-lg-2 nav-btns">
                <button type = "button" class = "btn position-relative">
                    <i class = "fa fa-search"></i>
                </button>
            </div>

            <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                <ul class = "navbar-nav mx-auto text-center">
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'index' %}">home</a>
                    </li>
                    {%if user.is_authenticated%}
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'logout' %}">logout</a>
                    </li>
                    {%else%}
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'login' %}">login</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class = "nav-link text-uppercase text-dark" href = "{% url 'register' %}">register</a>
                    </li>
                    {%endif%}
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->

    <div class="container" style="margin-top:100px" >
        <div class="row">
          <div class="col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{listing.image.url}}" class="d-block w-100" alt="display">
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-7">
            <p class="newarrival text-center">NEW</p>
            <h2>{{listing.title}}</h2>
            <p> Starting Bid was {{listing.bid}}$</p>
            <p class="price">Sold at USD ${{price}}</p>
            <p><b>Availability:</b> Sold to <strong>{{winner}}</strong></p>
            <p><b>Product ID:</b> {{listing.id}}</p>
            <p><b>Category:</b> {{listing.category}}</p>
            <p><b>Description:</b> {{listing.description}}</p> 
            {% if user %}
                
                <div class="container">
                    {%if messages%}
                    {% for msg in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <p><strong>Hey! {{user}}</strong> {{msg}}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endfor%}
                    {%endif%}
                </div>
                
            {%endif%}

          </div> 
        </div>
     </div>
    


{%endblock%}